<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error labore laboriosam assumenda ratione quaerat
    consectetur, neque laudantium quidem corporis aliquid? Dolorem ullam eaque sequi vel voluptas quibusdam cum
    repudiandae eius.
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico">Pico Preview</a></li>
      <li><a routerLink="/people">People</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
